.animate-scale-in { animation: scaleIn 0.5s ease-out; }
@keyframes scaleIn { from { transform: scale(0.9); opacity: 0; } to { transform: scale(1); opacity: 1; } }
.letter-spacing-1 { letter-spacing: 0.05rem; }
.text-xs { font-size: 0.725rem; }
.py-2-5 { padding-top: 0.625rem; padding-bottom: 0.625rem; }
.py-3-5 { padding-top: 0.825rem; padding-bottom: 0.825rem; }
.shadow-2xl { box-shadow: 0 40px 70px -20px rgba(0, 0, 0, 0.2); }
