.carousel-caption {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  /* softer and smoother shadow */

  /* moves caption slightly higher on carousel */
  text-align: center;
  padding: 1rem;
}

.carousel-caption h2 {
  font-size: 2rem;
  /* font-weight: 700; */
}

.carousel-caption .btn {
  margin: 0.25rem;
}
